<style>




    .LogButton img {

        margin-bottom: -3px;
    }
    .LogButton {
        height: 50px;
        width: 40px;
        border: 2px solid #B81817;
        bottom: 110px;
        font-size: 20px;
        border-radius: 5px;
        position: relative;
        left: 192px;
        padding: 10px;
        padding-bottom: 3px;
        padding-top: 3px;
    }
    ul.top_Menu li{
        display: inline;
        padding-top: -10px;

    }

    ul.top_Menu {
           text-align: center;
    }
    .Vector img{
     margin-bottom: -7px;
    }

    .SignMain {
        width: 500px;
        height: 200px;
        }
    .SignMain h1  {
        position: relative;
        bottom: 50px;
        font-size: 40px;
    }
    .Rectangle{
        font-family: "Times New Roman";

        letter-spacing: 0.09em;
        font-size: 14px;
        width: 200px;
        height: 200px;
        background: #D9D9D9;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        padding-right: 20px;
    }
    .Rectangle b {
        margin-right: 10px;

    }
    .Rectangle img {

        text-align: left;
        margin-bottom: -10px;
        width: 30px;
        height: 30px;

    }
    .line {
        width: 100%;
        margin-top: 15px;
        border: 1px solid #000000;
    }
    .logo {
        margin-left: 300px;
    }
    .headerInfo div{
        display: inline;
    }

   </style>