
a:link {
    color: black;
}

a:visited {
    color: black;
}

.header-navigation-bar{
    left: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    font-size: 100%;
    margin-bottom: -6px;
    text-align: center;
    vertical-align: center;
}

.news_block  {
    height: 750px;
    margin-top: 10px;
    width: 100%;
    background-color: aqua;
}

.header-navigation-bar ul{
    list-style: none;

}
.header-navigation-bar > ul{
    display: flex;
    justify-content: center;

}
.header-navigation-bar ul li .Vector {

}

.info_block {
    margin-top: 5px;
    height: 200px ;
    width: 100%;
    background-color: #EB6136;
    text-align: center;

}

.undermenu  {
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: #e67957;

}

.header-navigation-bar ul li{
    padding: 0.5em 0.5em;
    margin-right: 5%;
}

.header-navigation-bar ul li:after{
    display: inline-block;
    content: url("img/angle-down.svg");
    margin-left: 3px;
    width: 9px;
    height: 4px;

}

.commission_info {
    display: inline-block;
    height: 300px;
    width: 30%;
    background-color: darkkhaki;
    margin-left: 100%;
}
.quests_and_answers {
    height: 900px;
    width: 75%;
    background-color: green;
}
.campuses_adress {
    display: inline-block;
    height: 300px;
    background-color: #c35e5e;
    width: 30%;
    margin-left: 100%;
}
.calendar {
    display: inline-block;
    height: 300px;
    background-color: darkslategray;
    width: 30%;
    margin-left: 100%;
        }
.for-visually-impaired    {

    font-family: "Times New Roman";
    position: relative;
    letter-spacing: 0.09em;
    font-size: 14px;
    width: 200px;
    height: 20px;
    background: #D9D9D9;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
    border-radius: 5px;
    padding-right: 20px;
    margin-bottom: 5px;

}


.for-visually-impaired img  {
    text-align: left;
    margin-bottom: -6px;
    width: 30px;
    height: 30px;

}


.for-visually-impaired:after{
    display: inline;
    vertical-align: middle;

    margin-left: 3px;
}

.horizontal-line{
    color: black;
    height: 0px;
    background-color: black;
    border: 1px solid #000000;
}

.color-logo-omgu {
    width: 260px;
    height: auto;
    left: 235px;
    top: 44px;
    margin-left: 1em;
    margin-right: 1em;
}

.title1 {
    margin-top: 2%;
    lign-aitems:center;
    margin-left: 10%;
    font-size: 250%;
}

.header-under-navigation-bar {
    display: flex;
    width:100%;
    font-size: 90%;
    justify-content: center;
}

.header-information-block {
    margin-left: 20%;

}

.log-in{

    border: 2px solid #EB6136;
    padding-bottom: 6px;
    height: 20px;

    border-radius: 5px;
    position: relative;
    text-align: left;
    top: 5px;
    left: 30px;


}
.log-in img  {
    margin-top: 3px;
}

.log-in:before{
    vertical-align: middle;
    content: url("img/image 12.jpg");
    margin-left: 3px;
}
.phone:before{
    vertical-align: middle;
    content: url("img/image 10.jpg");
    margin-left: 3px;
}

.dsw-menu {
    background-color: #EB6136;
    width: 100%

}

.dsw-menu ul li a{
    color: white;
    font-size: 110%;
}

.dsw-menu ul li{
    padding: 0.5em 0.5em;
    margin-right: 1%;
}

.dsw-menu ul{

    list-style: none;

}
.dsw-menu > ul{
    display: flex;
    justify-content: center;

}

.about {

    height: 300px;
    width: 75%;
    background-color: crimson;
}

.dsw-menu ul li:hover{
    background-color: #e67957;
}
.footer{
    background-color: #D9D9D9;
}

.footer-navigation{
    display: flex;
    background-color: #D9D9D9;
    text-align:left;
    justify-content: center;
    padding: 5em 5em;

}

.footer-menu ul{
    list-style: none;

}
.footer-menu ul li{
    padding: 0.5em 0.5em;
}

.footer-menu ul li:before{
    display: inline-block;
    content: url("img/angle-down.svg");
    transform: rotate(-90deg);
    margin-right: 10px;
    vertical-align: middle;
    width: 9px;
    height: 4px;

}